extends category.pug

block prepend head
  - pageName = "Теплоизоляция"
block elementsList
  .products__list.cells
    each item in prds
      if item.cat == pageName
      +product-item(item)(class="cell cell-sm-6 cell-md-4")
block contentNav
  -
    var items = [
      {
        value: "Кровельные материалы",
        link: "category.html"
      },
      {
        value: "Металлопрокат",
        link: "category-2.html"
      },
      {
        value: "Изоляционные материалы",
        link: "category.html",
        subcats: [
          "Пенопласт, пенополистирол",
          "Поролон",
          "Теплоизоляция",
          "Отражающие материалы",
          "Пароизоляция",
          "Гидроизоляция"
        ]
      },
      {
        value: "Строительные плиты",
        link: "category.html"
      }
    ];
  .content__nav
    .snavigation.snavigation--catalog
      button.snavigation__toggle= "Каталог"
        span.snavigation__icon
          include ../../images/inline-svgs/dropdown.svg
      .snavigation__body
        ul.snavigation__list
          each item, index in items
            li.snavigation__item
              if !item.subcats
                a.snavigation__link(href= item.link)= item.value
              else
                .snavigation__item.split.split--opened
                  .snavigation__link
                    a.snavigation__text(href= item.link)= item.value
                    button.split__toggle
                      include ../../images/inline-svgs/dropdown.svg
                  .split__body
                    ul.snavigation__list
                      each elm, index in item.subcats
                        if index == 2
                          li.split.snavigation__item.split--opened
                            .snavigation__link
                              a.snavigation__text(href= item.link)= item.value
                              button.split__toggle
                                include ../../images/inline-svgs/dropdown.svg
                            .split__body
                              ul.snavigation__list
                                each elm, index in item.subcats
                                  li.snavigation__item
                                    a.snavigation__link(href="category-2.html", class={"snavigation__link--current": index == 3})= elm
                        else
                          li.snavigation__item
                            a.snavigation__link(href="")= elm