extends ../layout

block prepend head
  - pageName = "Поролон мебельный ST 2236 (1,6х2м) толщина 10мм"
block title
  +page-header(pageName, [{value: "Каталог", link: "catalog.html"}, {value: "Изоляционные материалы", link: "category.html"}, {value: "Поролон", link: "category-2.html"}])
block contentBody
  -
    var imNav = [
      require("/src/images/content-images/product-img-nav-1.jpg"),
      require("/src/images/content-images/product-img-nav-2.jpg"),
      require("/src/images/content-images/product-img-nav-3.jpg"),
      require("/src/images/content-images/cats-2.png"),
      require("/src/images/content-images/cats-1.jpg"),
      require("/src/images/content-images/bens-3.png"),
      require("/src/images/content-images/product-img-nav-2.jpg"),
      require("/src/images/content-images/product-img-nav-3.jpg")
    ];
  -
    var imImgs = [
      {
        picM: require("/src/images/content-images/product-1.jpg"),
        picB: require("/src/images/content-images/product-1.jpg")
      },
      {
        picM: require("/src/images/content-images/product-2.jpg"),
        picB: require("/src/images/content-images/product-2.jpg")
      },
      {
        picM: require("/src/images/content-images/product-3.jpg"),
        picB: require("/src/images/content-images/product-3.jpg")
      },
      {
        picM: require("/src/images/content-images/cats-2.png"),
        picB: require("/src/images/content-images/about-1.jpg")
      },
      {
        picM: require("/src/images/content-images/news-1.jpg"),
        picB: require("/src/images/content-images/folio-3.jpg")
      },
      {
        picM: require("/src/images/content-images/product-3.jpg"),
        picB: require("/src/images/content-images/product-3.jpg")
      },
      {
        picM: require("/src/images/content-images/cats-2.png"),
        picB: require("/src/images/content-images/about-1.jpg")
      },
      {
        picM: require("/src/images/content-images/news-1.jpg"),
        picB: require("/src/images/content-images/folio-3.jpg")
      }
    ];
  .product__presentation
    .cells
      .presentation__illustrations.cell.cell-sm-6.cell-xl-7
        .presentation__illustrations__row
          .illustrations__pic
            .illustrations__pic__slider.slider.slider--hidden-arrows
              each item in imImgs
                .illustrations__pic__item
                  a.illustrations__pic__image(href= item.picB, data-fancybox="product")
                    // Размер картинки 607х436
                    img(src= item.picM)
              if !imImgs.length
                .illustrations__pic__item
                  .illustrations__pic__image.no-image
          .illustrations__nav
            .illustrations__nav__slider.slider.slider--hidden-arrows.nav-slider
              each item in imNav
                .illustrations__nav__item
                  .illustrations__nav__image
                    // Размер картинки 60х60
                    img(src= item)
              if !imNav.length
                .illustrations__nav__item
                  .illustrations__nav__image.no-image
      .presentation__body.cell.cell-sm-6.cell-xl-5
        .cells.presentation__pricing
          .cell.cell-auto.presentation__prices
            .presentation__prices__list
              .presentation__price.presentation__price--current 14 500
              .presentation__price.presentation__price--old 53 000 руб
          .cell.cell-auto.presentation__labels
            .presentation__labels__list
              .presentation__label Акция
              //- .presentation__label Длинный лейбл олала
        .presentation__actions
          .presentation__action.presentation__qty
            .qty
              button.qty__change.qty__change--minus(disabled) -
              input.qty__input.form__input(type="text", value="1", data-min="1", data-max="99")
              button.qty__change.qty__change--plus +
          .presentation__action.presentation__add
            button.button.button-primary.button-add2cart В корзину
          .presentation__action.presentation__order
            button.button.button-secondary(data-fancybox, data-type="inline", data-src="#product-quick-form", data-touch="false") Быстрый заказ
        hr.divider
        .presentation__info
          .presentation__info__brand
            .brand__image
              // Максимальный размер 200х120
              img(src=require("/src/images/content-images/partners-2.png"))
          .presentation__info__body
            .presentation__info__title Краткое описание:
            .presentation__info__text
              p Листы размером: 2000 × 1000 × 40 мм
              p Материал: Пенополиуретан
              p Толщина: 10мм
        .presentation__more
          a.presentation__link(href="#product__full") Полное описание
            span.presentation__link__icon
              include ../../images/inline-svgs/down-arrow.svg
        hr.divider.display-md-none
  .product__benefits
    .benefits__list.cells
      each item in bens
        .cell.cell-md-4
          +benefit-item(item)
  .cells
    .cell.cell-lg-9
      block productBody
        .tabs.product__tabs#product__full
          -
            var tabNav = [
              {name: "Описание", link: "#product__description"},
              {name: "Видео", link: "#product__video"},
              {name: "Отзывы", link: "#product__reviews"},
              {name: "Дополнительно", link: "#product__additional"},
              //- {name: "Таб с длинным названием, которое все сломает", link: "#product__whatever"}
            ];
          .nav.tab__nav
            each item, index in tabNav
              .tab__nav__item
                a.tab__nav__link(href= item.link, class= index == 0 ? "tab__nav__link--current" : "")= item.name
          .tab__panels
            .tab__panel.tab__panel--opened#product__description
              p.
                Поролон благодаря своей ячеистой структуре обеспечивает теплоизоляцию.
                Эластичный листовой материал применяется при установке оконных блоков и других внутренних конструкций.
                Подходит для производства мебели, используется в качестве набивочного материала в подушках, чехлах и мягких игрушках.
              .h6 Особенности
              ul
                li Листы размером 2000 × 1000 × 40 мм поставляются свернутыми в рулон.
                li Общая площадь покрытия одного рулона составляет 2 м².
                li Материал абсолютно безопасен для человека, не выделяет в процессе эксплуатации вредных веществ.
                li Устойчив к воздействию микроорганизмов и влаги.
                li Эластичность поролона позволяет использовать его для производства изделий любых форм.
                li Класс горючести материала — Г4 (сильногорючие материалы).
                li Марка данного поролона - ST2236К.
                li Страна производства — Россия.
            .tab__panel#product__video
              .h4 Видео
              .product__video__list.cells
                each item, index in vds
                  if index < 2
                    .product__video__item.cell.cell-md-6
                      .videos__item
                        a.videos__link(href="https://www.youtube.com/watch?v=" + item.link)
                          .videos__cover(style= item.cover ? "background-image: url('https://img.youtube.com/vi/" + item.link + "/maxresdefault.jpg')" : "", loading="lazy")
                        .videos__content
                          iframe(width="560", height="315", src= "https://www.youtube.com/embed/" + item.link, title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
            .tab__panel#product__reviews
              +reviewsList(4, false)
            .tab__panel#product__additional
              .h4 Дополнительно
              .nb
                .nb__body
                  | Внимание! Реальный тон ткани может отличаться от представленной на сайте фотографии.
                  | Это связано с настройками вашего монитора, а также особенностями производства.
                  | Отклонения окраски по тону от партии к партии браком не считаются, возврату не подлежат!
                .nb__icon
                  include ../../images/inline-svgs/nb-exclam.svg
        .product__techs.product__section
          .h4 Характеристики
          -
            var techs = [
              {
                label: "Вес, кг",
                value: "1.776"
              },
              {
                label: "Гарантия производителя (лет)",
                value: "2"
              },
              {
                label: "Страна производства",
                value: "Россия"
              },
              {
                label: "Площадь покрытия продуктом (м²)",
                value: "2.0"
              },
              {
                label: "Место использования",
                value: "Внутренний"
              },
              {
                label: "Назначение",
                value: "Окно"
              },
              {
                label: "Влагостойкость",
                value: "Нет"
              },
              {
                label: "Группа горючести",
                value: "Г4"
              },
              {
                label: "Формат",
                value: "Рулон"
              },
              {
                label: "Размер (Д х Ш х В) (мм)",
                value: "2000х1000х40"
              },
              {
                label: "Техническая характеристика с длинным названием",
                value: "Длинное значение из нескольких строк, возможно. А может быть и нет. Никто не знает наверняка."
              }
            ];
          ul.tech__list
            each item in techs
              li.tech__item
                span.tech__label= item.label
                span.tech__value= item.value
        .product__docs.product__section
          -
            var prdocs = [
              {
                name: "Сертификат соответствия"
              },
              {
                name: 'Каталог «Изоляционные материалы»'
              }
            ];
          .h4 Документы
          .downloads__list.cells
            each item in prdocs
              .downloads__item.cell.cell-auto
                a.fdown.fdown--pdf(href="assets/content-images/constitution.pdf", target="__blank")
                  .fdown__name= item.name
                    .fdown__size 128 кб
        .product__related.product__section
          .h4 Похожие товары
          .products__list.cells
            each item, index in prds
              if index < 3
                +product-item(item)(class="cell cell-sm-6 cell-md-4")
    .cell.cell-lg-3
      .article__action
        .article__action__title Есть вопросы по данному товару?
          .article__action__title__icon.question
            include ../../images/inline-svgs/product-question.svg
        .article__action__text Задайте все интересующие Вас вопросы по товару, и наши специалисты с радостью ответим на них.
        .article__action__button
          button.button.button-primary(data-fancybox, data-type="inline", data-src="#product-question-form", data-touch="false") Задать вопрос
  +back-button("Назад к списку", "category.html")
  .fancy-form.display-none#product-question-form
    form(action="").custom-form.collapsing-form
      .form__header
        .form__title Задать вопрос
        .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
        .form__message
          .form__success
            .form__message__text Ваша заявка успешно отправлена!
      .form__bg
        .form__body
          label.form__field
            span.form__label Телефон
            input.form__input(type="tel")
          label.form__field.form__field--required
            span.form__label Email
            input.form__input(type="email")
          label.form__field.form__field--required
            span.form__label Текст сообщения
            textarea.form__input(required, rows="3")
          .form__submit
            button.button.button-submit(type="submit") Отправить
          .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
            a(href="policy.html") условиями обработки персональных данных
  .fancy-form.display-none#product-quick-form
    form(action="").custom-form.collapsing-form
      .form__header
        .form__title Быстрый заказ
        .form__description Заполните форму, и наш менеджер свяжется с Вами в ближайшее время
        .form__message
          .form__success
            .form__message__text Ваша заявка успешно отправлена!
      .form__bg
        .form__body
          label.form__field
            span.form__label Заказ
            input.form__input(type="text", value= pageName, disabled)
          label.form__field.form__field--required
            span.form__label Телефон
            input.form__input(type="tel", required)
          label.form__field.form__field--required
            span.form__label Email
            input.form__input(type="email", required)
          label.form__field
            span.form__label Текст сообщения
            textarea.form__input(rows="3")
          .form__submit
            button.button.button-submit(type="submit") Отправить
          .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
            a(href="policy.html") условиями обработки персональных данных