-
  var menuItems = [
    {
      name: "Компания",
      href: "about.html"
    },
    {
      name: "Магазины",
      href: "contacts.html"
    },
    {
      name: "Новости",
      href: "news.html"
    },
    {
      name: "Статьи",
      href: "articles.html"
    },
    {
      name: "Вопросы и ответы",
      href: "faq.html"
    },
    {
      name: "Видео",
      href: "videos.html"
    },
    {
      name: "Услуги",
      href: "services.html"
    },
    {
      name: "Продукция",
      href: "catalog.html"
    },
    {
      name: "Проекты",
      href: "folio.html"
    },
    {
      name: "Отзывы",
      href: "reviews.html"
    },
    {
      name: "Видео",
      href: "videos.html"
    },
    {
      name: "Контакты",
      href: "contacts.html"
    },
    {
      name: "Пункт меню с длинным названием",
      href: "contacts.html"
    }
  ];
-
  var menuItems2 = [
    {
      name: "Компания",
      href: "about.html"
    },
    {
      name: "Каталог",
      href: "catalog.html"
    },
    {
      name: "Услуги",
      href: "services.html"
    },
    {
      name: "Проекты",
      href: "folio.html"
    },
    {
      name: "Акции",
      href: "sale.html"
    },
    {
      name: "Отзывы",
      href: "reviews.html"
    },
    {
      name: "Контакты",
      href: "contacts.html"
    },
    //- {
    //-   name: "Пункт меню с длинным-предлинным названием",
    //-   href: "contacts.html"
    //- }
  ];
mixin footer-var(fvar="footer--v1", fbg="footer__bg--v1")
  .footer(class=fvar)
    .footer__bg(class=fbg)
      .wrap
        .to-top
          a.to-top__link(href="#top", title="Вернуться к началу страницы", tabindex="-1")
        case fvar
          when "footer--v1"
            .cells.footer__body
              .cell.cell-lg-6
                .nav.footer__nav
                  ul.fnav__list
                    each item in menuItems
                      li.fnav__item
                        a.fnav__link(href= item.href)= item.name
              .cell.cell-lg-6
                .cells.footer__connects
                  .cell.cell-md-6
                    .footer__addresses
                      .addresses.connect.connect--labeled
                        +connectList("addresses", false, 1)
                    .footer__emails
                      .connect.emails.connect--labeled
                        +connectList("emails", false, 1)
                    .footer__socials
                      +socials
                  .cell.cell-md-6
                    .footer__phones
                      .connect.phones.connect--labeled.connect--inlined
                        +connectList("phones", false, 2)
                    .footer__messengers
                      +messengers
          default
            .cells.footer__body
              .cell.cell-md-6.cell-lg-9
                .nav.footer__nav
                  ul.fnav__list
                    each item in menuItems2
                      li.fnav__item
                        a.fnav__link(href= item.href)= item.name
                .footer__socials
                  +socials
              .cell.cell-md-6.cell-lg-3.footer__connects
                .footer__phones
                  .phones.connect
                    .connect__list
                      each item, index in cnncts.phones
                        if index < 1
                          .connect__item
                            a.connect__text(href= "item.link")= item.value
                            if index == 0
                              .connect__button
                                a(data-fancybox, data-type="inline", data-src="#callback-form", data-touch="false", href="#callback-form") Заказать звонок
                .footer__addresses
                  .connect.addresses
                    +connectList("addresses", false, 1)
                .footer__emails
                  .connect.emails
                    +connectList("emails", false, 1)
        hr.divider
        .cells.fx-justify-between.fx-align-center
          .cell.cell-auto.footer__copy «Компания с длинным названием» © #{(new Date()).getFullYear()}
          .cell.cell-auto.footer__legal
            .legal__list
              .legal__item
                a.legal__link(href="oferta.html") Договор оферты
              .legal__item
                a.legal__link(href="policy.html") Политика конфиденциальности
              //- .legal__item
              //-   a.legal__link(href="") Публичная оферта
          .cell.cell-auto.footer__dev
            .dev
              .dev__icon
                include ../../images/inline-svgs/tian.svg
              .dev__text
                | Интернет-агентство Tian Group:
                br
                a(href="it-tian.ru", target="_blank") создание
                |
                | и
                |
                a(href="it-tian.ru", target="_blank") продвижение
                |
                | сайтов
