-
  var phones = [
    {
      number: "+7 (351) 225-07-55",
      link: "+73512250755",
      descr: "call-центр"
    },
    {
      number: "+7 (351) 225-07-56",
      label: "Отдел доставки",
      descr: "работаем 10:00 - 20:00",
      link: "+73512250756"
    },
    {
      number: "+7 (351) 778-88-00 доб. 123",
      label: "Бухгалтерия",
      link: "+73517788800"
    },
    {
      number: "+7 (351) 778-88-10",
      label: "Директор Длиннофамильцев Имярек Отчествович",
      link: "+73512250756"
    }
  ];
-
  var msngrs = [
    {
      name: "tg",
      title: "Открыть чат в телеграме"
    },
    {
      name: "viber",
      title: "Открыть чат в Viber"
    },
    {
      name: "whatsapp",
      title: "Открыть чат в Whatsapp"
    }
  ];
//- - var addr = "г. Челябинск, ул. Артиллерийская, д. 1";
//- - var phn = "+7 (351) 778-88-00";
//- - var eml = "info@zetrade.com";
- var addr = "Российская Федерация, Челябинская область, г. Челябинск, ул. Артиллерийская, стр. 1, корпус 14, офис 202а";
- var phn = "+7 (351) 778-88-00 доб. 153";
- var eml = "dlinnofamiltsev@zetrade.com";
.header
  .mheader.mheader--v1
    .wrap
      .mheader__row
        .mheader__logo
          .logo
            a.logo__link(href="/")
              .logo__image
                include ../../images/theme-images/logo.svg
        .mheader__phones
          .phones.connect
            .dropdown
              a.dropdown__toggle(href="tel:+73517788800")= phn
                .dropdown__icon
                  include ../../images/inline-svgs/dropdown.svg
              .dropdown__body
                .connect__list
                  each item, index in phones
                    if index != 0
                      .connect__item
                        a.connect__text(href= "tel:" + item.link)= item.number
                        if item.label
                          .connect__label= item.label
                        if item.descr
                          .connect__descr= item.descr
                .callback
                  button.button.button-secondary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
        .mheader__callback
          button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
        .mheader__addresses
          .addresses.connect
            .connect__list
              .connect__item
                .connect__text= addr
        .mheader__bcart
          .bcart
            a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
              include ../../images/inline-svgs/cart-icon.svg
        .mheader__opener
          button.header__opener(title="Показать меню")
            include ../../images/inline-svgs/menu.svg
    .mheader__contents
      .wrap
        .mheader__row
          .mheader__logo
            .logo
              a.logo__link(href="/")
                .logo__image
                  include ../../images/theme-images/logo.svg
          button.header__closer(title="Скрыть меню")
            include ../../images/inline-svgs/menu-close.svg
      hr.divider
      .wrap.mheader__contents__wrap
        nav.primary-nav
          include primary-nav.pug
        .search
          form.search__form.form(action="")
            label.form__field
              input.form__input(type="text", name="", placeholder="Введите запрос")
            button.form__submit.button(type="submit")
              .search__icon
                include ../../images/inline-svgs/search.svg
              .search__text Найти
        .phones.connect
          .connect__list
            each item in phones
              .connect__item
                a.connect__text(href= "tel:" + item.link)= item.number
                if item.label
                  .connect__label= item.label
                if item.descr
                  .connect__descr= item.descr
        .mheader__messengers
          .messengers
            .messengers__list
              each item in msngrs
                .messengers__item
                  a.messengers__link(href="", title= item.title, class= "messengers__link--" + item.name)
        .addresses.connect
          .connect__list
            .connect__item
              .connect__text= addr
        .emails.connect
          .connect__list
            .connect__item
              a.connect__text(href="mailto:info@zetrade.com")= eml
        +socials
  .dheader.header--v1
    .wrap
      .cells.header__top
        .cell.header__top__col.cell-xl-5
          .display-flex.fx-align-center
            nav.header__site-nav.site-nav
              include site-nav.pug
              .site-nav--extra.nav--extra.dropdown
                button.button.button-icon.dropdown__toggle(title="Показать/скрыть остальные пункты меню")
                  include ../../images/inline-svgs/dots.svg
                .dropdown__body
                  ul.site-nav__list
            .header__search
              button.search__toggle.button.button-icon
                include ../../images/inline-svgs/search.svg
        .header__connects.cell.cell-xl-7
          .connects
            .cells.fx-justify-end
              .header__phones.cell.cell-auto
                .phones.connect
                  .dropdown
                    a.dropdown__toggle(href="tel:+73517788800")= phn
                      .dropdown__icon
                        include ../../images/inline-svgs/dropdown.svg
                    .dropdown__body
                      .connect__list
                        each item, index in phones
                          if index != 0
                            .connect__item
                              a.connect__text(href= "tel:" + item.link)= item.number
                              if item.label
                                .connect__label= item.label
                              if item.descr
                                .connect__descr= item.descr
                      .callback
                        button.button.button-secondary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form") Заказать звонок
              .header__addresses.cell.cell-auto
                .addresses.connect
                  .connect__list
                    .connect__item
                      .connect__text= addr
      hr.divider
      .header__body
        .cells.fx-align-center
          .header__logo.cell.cell-lg-3
            .logo
              a.logo__link(href="/")
                .logo__image
                  include ../../images/theme-images/logo.svg
              //-   .logo__text ZE Строй
              .logo__slogan Selling the best goods on Earth since 1900
          .header__primary-nav.cell.cell-lg-8
            nav.primary-nav
              include primary-nav.pug
          .cell.header__bcart.cell-lg-1
            .bcart
              a.button.button-icon.bcart__button.bcart__button--active(title="Перейти в корзину", href="cart.html")
                include ../../images/inline-svgs/cart-icon.svg
  .popup-search
    .wrap
      .cells.popup-search__row
        .cell.cell-auto
          .popup-search__label Поиск
        .cell.cell-auto.popup-search__body
          form.search__form.form(action="")
            label.form__field
              input.form__input(type="text", name="", placeholder="Введите запрос", tabindex="-1")
            button.form__submit.button(type="submit", tabindex="-1")
              .button__icon
                include ../../images/inline-svgs/search.svg
              .button__body Найти
        .cell.cell-auto
          button.button.button-icon.search__close(type="reset", title="Закрыть форму поиска", tabindex="-1")
  .display-none#callback-form
    .custom-form.collapsing-form
      form(action="")
        .form__title Заказать звонок
        .form__bg
          .form__body
            label.form__field
              span.form__label Имя
              input.form__input(type="text")
            label.form__field.form__field--required
              span.form__label Телефон
              input.form__input(type="tel", required)
            .form__submit
              button.button.button-submit(type="submit") Отправить
            .form__note Нажимая на кнопку «Отправить», подтверждаю свое согласие с&nbsp;
              a(href="policy.html") условиями обработки персональных данных
          .form__message
            .form__success
              .form__message__title Ваша заявка принята!
              .form__message__text Наши менеджеры свяжутся с Вами

