-
  var listhero = [
    {
      title: 'Построим дом вашей мечты «под ключ»',
      descr: "Индивидуальное проектирование",
      btn: "Узнать больше",
      picM: require("/src/images/content-images/promo-mob-2.jpg"),
      picD: require("/src/images/content-images/promo-desk-2.jpg")
    },
    {
      title: "Коллекция дизайнерской мебели в скандинавском стиле",
      descr: "Новая коллекция",
      btn: "Смотреть в каталоге",
      picM: require("/src/images/content-images/promo-mob.jpg"),
      picD: require("/src/images/content-images/promo-desk.jpg")
    },
    {
      title: "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
      descr: "Aut impedit cumque doloremque molestias aperiam quod quaerat excepturi! Ullam molestias ducimus vero nostrum?",
      btn: "See all"
    },
    {
      title: "Laborum maxime maiores doloribus",
      picD: require("/src/images/content-images/promo-desk-3.jpg"),
      dark: true
    },
    {
      title: "Lorem ipsum dolor sit amet, consectetur adipisicing elit",
      descr: "Aut impedit cumque doloremque molestias aperiam quod quaerat excepturi! Ullam molestias ducimus vero nostrum?",
      picD: require("/src/images/content-images/promo-desk.jpg"),
      dark: true
    },
    {
      title: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum maxime maiores doloribus asperiores hic totam facere",
      descr: "",
      btn: "Learn so very much more"
    },
    {
      picM: require("/src/images/content-images/promo-mob.jpg"),
      picD: require("/src/images/content-images/promo-desk.jpg")
    },
    {
      picD: require("/src/images/content-images/promo-desk.jpg")
    }
  ];
.section.hero
  .slider.hero__slider
    each elm in listhero
      .slider__item
        .hero__item(class= elm.dark ? "dark" : "")
          // Если нет никакого текста на слайде, то к элементу .hero__bg добавляем класс .hero__bg--solo
          .hero__bg(class={"hero__bg--solo": !elm.descr && !elm.title && !elm.btn})
            if elm.picD || elm.img
              picture
                // Размеры картинок: 768х310; 1920х520
                if elm.picM
                  source(media="(max-width: 768px)" srcset=elm.picM)
                source(media="(min-width: 769px)" srcset=elm.picD)
                img(src=elm.picD, loading="lazy")
          if elm.descr || elm.title || elm.btn
            .wrap.hero__wrap
              .hero__text
                if elm.descr
                  .hero__descr= elm.descr
                .hero__title= elm.title
                if elm.btn
                  .hero__cta
                    a.button.button-primary.hero__button(href="")
                      span.button__body= elm.btn
                      span.button__icon
                        include ../../images/inline-svgs/right.svg

