mixin section-header(title, linkName, link)
  .section__header.cells
    .cell.section__name.cell-10.cell-md-8
      .section__title= title
    if linkName
      .cell.section__more.cell-2.cell-md-4
        a.section__link(href= link)
          span.section__link__title= linkName
          span.section__link__icon
            include ../../images/inline-svgs/section-header-link.svg
-
  var scls = [
    {
      name: "fb",
      title: "Группа в Facebook"
     },
    {
      name: "vk",
      title: "Группа во Вконтакте",
    },
    {
      name: "twitter",
      title: "Группа в Twitter"
    },
    {
      name: "ok",
      title: "Группа в Одноклассниках"
    },
    {
      name: "instagram",
      title: "Страница в Instagram"
    },
    {
      name: "youtube",
      title: "Канал на Youtube"
    }
  ];
mixin icon-fb
  include ../../images/inline-svgs/fb.svg
mixin icon-vk
  include ../../images/inline-svgs/vk.svg
mixin icon-twitter
  include ../../images/inline-svgs/tw.svg
mixin icon-ok
  include ../../images/inline-svgs/ok.svg
mixin icon-youtube
  include ../../images/inline-svgs/youtube.svg
mixin icon-instagram
  include ../../images/inline-svgs/ig.svg
mixin socials
  .socials
    .socials__list
      each item in scls
        .socials__item
          a.socials__link(href="", title= item.title)
            +#{"icon-" + item.name}
-
  var msngrs = [
    {
      name: "tg",
      title: "Написать в Telegram"
    },
    {
      name: "viber",
      title: "Написать в Viber"
    },
    {
      name: "whatsapp",
      title: "Написать в Whatsapp"
    }
  ];
mixin icon-tg
  include ../../images/inline-svgs/tg.svg
mixin icon-viber
  include ../../images/inline-svgs/viber.svg
mixin icon-whatsapp
  include ../../images/inline-svgs/whatsapp.svg
mixin messengers
  .messengers
    .messengers__list
      each item in msngrs
        .messengers__item
          a.messengers__link(href="", title= item.title, class="messengers__link--" + item.name)
            .messengers__icon
              +#{"icon-" + item.name}
            .messengers__text= item.title
-
  var cnncts = {
    phones: [
      {
        value: "+7 (351) 225-07-55",
        link: "+73512250755",
        label: "call-центр"
      },
      {
        value: "+7 (351) 225-07-56",
        label: "Отдел доставки",
        descr: "работаем 10:00 - 20:00",
        link: "+73512250756"
      },
      {
        value: "+7 (351) 778-88-00 доб. 123",
        label: "Бухгалтерия",
        link: "+73517788800"
      },
      {
        value: "+7 (351) 778-88-10",
        label: "Директор Длиннофамильцев Имярек Отчествович",
        link: "+73512250756"
      }
    ],
    emails: [
      {
        value: "info@zetrade.com"
      },
      {
        value: "dlinnofamiltsev@zetrade.com"
      }
    ],
    addresses: [
      {
        value: "г.Челябинск, ул. Артиллерийская, д. 1",
        descr: "Пн - Пт: 9.00 - 18.00 Сб - Вс: выходные"
      },
      {
        value: "Российская Федерация, Челябинская область, г. Челябинск, ул. Артиллерийская, стр. 1, корпус 14, офис 202а",
        descr: "Пн - Пт: 9.00 - 18.00 Сб - Вс: выходные"
      },
      {
        value: "г. Екатеринбург, ул. Новоградская, 3, офис 123",
        descr: "Какая-то подпись, если надо"
      },
      {
        value: "г. Екатеринбург, ул. 1-ая Электровозная, 3, офис 123"
      }
    ]
  };
mixin connectList(type, noFirst)
  - var noShowItem = noFirst ? 0 : 100;
  .connect__list
    each item, index in cnncts[type]
      if index != noShowItem
        .connect__item
          case type
            when "phones"
              a.connect__text(href= "tel:" + item.link)= item.value
            when "emails"
              a.connect__text(href="mailto:" + item.value)= item.value
            default
              .connect__text= item.value
          if cnncts[type].length > 1
            if item.label
              .connect__label= item.label
            if item.descr
              .connect__descr= item.descr
//- - var logoImage = require("/src/images/theme-images/logo-sq.png");
- var logoImage = require("/src/images/content-images/parts-1.png");
mixin logo
  .logo
    a.logo__link(href="index.html")
      .logo__image
        include ../../images/theme-images/logo.svg
    //-     img(src= logoImage)
    //-   .logo__text ZE Строй
    .logo__slogan Selling the best goods on Earth since 1900
mixin connectsDropdown(type)
  .connect(class=type)
    if cnncts[type].length > 1
      .dropdown
        case type
          when "phones"
            a.dropdown__toggle(href=cnncts[type][0].link)= cnncts[type][0].value
              .dropdown__icon
                include ../../images/inline-svgs/dropdown.svg
          when "addresses"
            button.dropdown__toggle= cnncts[type][0].value
              .dropdown__icon
                include ../../images/inline-svgs/dropdown.svg
        .dropdown__body
          case type
            when "phones"
              +connectList(type)
            when "addresses"
              +connectList(type, true)
    else
      +connectList(type)
mixin section-navi(title, items, currentIndex)
  .snavigation
    button.snavigation__toggle= title
      .snavigation__icon
        include ../../images/inline-svgs/dropdown.svg
    .snavigation__body
      ul.snavigation__list
        each item, index in items
          li.snavigation__item
            a.snavigation__link(href=item.link, class={"snavigation__link--current": index == currentIndex})= item.value
mixin page-header(title, crumbs, variant="page-header--v1")
  .page-header(class= variant)
    .page-header__bg
      .wrap
        ol.breadcrumbs
          li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html") Главная
          if crumbs.length
            each item in crumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href=item.link)= item.value
          li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current(href="/")=title
        h1= title