mixin section-header(title, linkName, link)
  .section__header.cells
    .cell.section__name.cell-10.cell-md-8
      .section__title= title
    if linkName
      .cell.section__more.cell-2.cell-md-4
        a.section__link(href= link)
          span.section__link__title= linkName
          span.section__link__icon
            include ../../images/inline-svgs/section-header-link.svg
mixin icon-fb
  include ../../images/inline-svgs/fb.svg
mixin icon-vk
  include ../../images/inline-svgs/vk.svg
mixin icon-twitter
  include ../../images/inline-svgs/tw.svg
mixin icon-ok
  include ../../images/inline-svgs/ok.svg
mixin icon-youtube
  include ../../images/inline-svgs/youtube.svg
mixin icon-instagram
  include ../../images/inline-svgs/ig.svg
mixin socials
  .socials
    .socials__list
      each item in scls
        .socials__item
          a.socials__link(href="", title= item.title)
            +#{"icon-" + item.name}
mixin icon-tg
  include ../../images/inline-svgs/tg.svg
mixin icon-viber
  include ../../images/inline-svgs/viber.svg
mixin icon-whatsapp
  include ../../images/inline-svgs/whatsapp.svg
mixin messengers
  .messengers
    .messengers__list
      each item in msngrs
        .messengers__item
          a.messengers__link(href="", title= item.title, class="messengers__link--" + item.name)
            .messengers__icon
              +#{"icon-" + item.name}
            .messengers__text= item.title
mixin connectList(type, noFirst, limit=100)
  - var noShowItem = noFirst ? 0 : 100;
  .connect__list
    each item, index in cnncts[type]
      if index != noShowItem && index < limit
        .connect__item
          case type
            when "phones"
              a.connect__text(href= "tel:" + item.link)= item.value
            when "emails"
              a.connect__text(href="mailto:" + item.value)= item.value
            default
              .connect__text= item.value
          if cnncts[type].length > 1
            if item.label
              .connect__label= item.label
            if item.descr
              .connect__descr= item.descr
mixin logo
  .logo
    a.logo__link(href="index.html")
      .logo__image
        include ../../images/theme-images/logo.svg
    //-     img(src= logoImage)
    //-   .logo__text ZE Строй
    .logo__slogan Selling the best goods on Earth since 1900
mixin connectsDropdown(type)
  .connect(class=type, class!=attributes.class)
    if cnncts[type].length > 1
      .dropdown
        case type
          when "phones"
            a.dropdown__toggle(href=cnncts[type][0].link)= cnncts[type][0].value
              .dropdown__icon
                include ../../images/inline-svgs/dropdown.svg
          when "addresses"
            button.dropdown__toggle= cnncts[type][0].value
              span.dropdown__icon
                include ../../images/inline-svgs/dropdown.svg
        .dropdown__body
          case type
            when "phones"
              +connectList(type)
              button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form", data-touch="false") Заказать звонок
            when "addresses"
              +connectList(type, true)
    else
      +connectList(type)
mixin section-navi(title, items, currentIndex)
  .snavigation(class!=attributes.class)
    button.snavigation__toggle= title
      span.snavigation__icon
        include ../../images/inline-svgs/dropdown.svg
    .snavigation__body
      ul.snavigation__list
        each item, index in items
          li.snavigation__item
            if !item.subcats
              a.snavigation__link(href=item.link, class={"snavigation__link--current": index == currentIndex})= item.value
            else
              .snavigation__split
                a.snavigation__split__link(href= item.link) = item.value
                button.snavigation__split__button
                .snavigation__split__body
                  ul.snavigation__subcats
                    each elm in item.subcats
                      li.snavigation__subcat
                        a.snavigation__sublink(href="", class={"snavigation__link--current": index == 1})= elm
mixin page-header(title, crumbs=[], variant="page-header--v1")
  .page-header(class= variant)
    .page-header__bg
      .wrap
        ol.breadcrumbs
          li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html") Главная
          if crumbs.length
            each item in crumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href=item.link)= item.value
          li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current(href="/")=title
        h1= title
mixin reviewsList(limit, printPics=true)
  .reviews__list(class!=attributes.class)
    each elm, index in rvws
      if index < limit
        .reviews__item
          .reviews__bg
            .reviews__meta
              if elm.cat
                .reviews__cat
                  .reviews__cat__text= elm.cat
              .reviews__pic(class={"reviews__pic--empty": !elm.ava})
                if elm.ava
                  img(src= elm.ava)
                .reviews__pic__decor
                  include ./../../images/inline-svgs/reviews-decor.svg
              .reviews__personal
                .reviews__date= elm.date
                .reviews__name= elm.title
            .reviews__text= elm.text
            if printPics
              if elm.pics
                .reviews__images
                  each item in elm.pics
                    .reviews__images__item
                      a.reviews__image(href=item.lg, data-fancybox="review-" + index)
                        img(src= item.xs)
                        .reviews__image__overflow
mixin pagination(current=0)
  .pagination
    ol.pagination__list
      li.pagination__item
        a.pagination__link(href="", title="Предыдущая страница", class={"pagination__link--disabled": current == 0})
          include ./../../images/inline-svgs/pagination-left.svg
      each item, index in pgntn
        li.pagination__item
          if index != 3
            a.pagination__link(href="", class={"pagination__link--active": index == current})= item
          else
            span.pagination__gap= item
      li.pagination__item
        a.pagination__link(href="", title="Следующая страница", class={"pagination__link--disabled": current == pgntn.length - 1})
          include ./../../images/inline-svgs/pagination-right.svg
mixin seo
  .epilogue
    h1 Современная технология для Вашего дома!
    p.
      Изоляционные материалы защищают строительные сооружения от негативных воздействий среды:
      воды, повышенной влажности, низкой или высокой температуры, ветра.
      Их использование продлевает срок эксплуатации сооружений и поддерживает в них комфортные условия.
    h2 Почему мы?
    p.
      Мы производим стройматериалы в Челябинске и осуществляем их доставку по городу и области. Почему стоит выбрать имеено нас?:
    ul
      li Наша репутация говорит за нас. Мы завоевали уважение и доверие сотен клиентов на Челябинском рынке;
      li Мы всегда идём на встречу заказчику, делая ему самые выгодные и интересные предложения по сотрудничеству;
      li Мы – профессионалы своего дела. Более чем за 7 лет мы полностью изучили рынок стройматериалов в Челябинске и области, а потому знаем, что Вам предложить;
mixin news-item(item, link="news-item.html")
  .cards__item(class!= attributes.class, class= item.date ? "cards__item--dated" : "")
    .icard
      a.icard__image(href= link, class={"no-image": !item.pic})
        // Размер картинки 456х250
        if item.pic
          img(src=item.pic, loading="lazy")
      .icard__body
        if item.date
          .card__date= item.date
        a.card__name(href= link)= item.name
        .card__text= item.text
mixin back-button(title, link="")
  .article__button
    a.button.button-secondary(href= link)
      .button__icon
        include ./../../images/inline-svgs/arrow-back.svg
      .button__body= title
mixin empty
  //- doesn't add anything but makes vars from vars.pug accessible to components that don't need any mixins.
  //- otherways, for some reason, component doesn/t have access to those vars
mixin custom-card(item)
  //- .cards__list
  //-   each item in items
  .cards__item(class!=attributes.class)
    .card
      .card__image
        img(src= item.pic)
      .card__body
        .card__date= item.date
        .card__name= item.name
        .card__text= item.text
mixin custom-cards--big-pic(item)
  //- .cards__list(class!=attributes.class)
  //-   each item in items
  .cards__item(class!=attributes.class)
    .icard
      .icard__image
        img(src= item.pic)
      .icard__body
        .card__name= item.name
        .card__text= item.text
mixin video-item(item)
  .cards__item.videos__item(class!=attributes.class)
    .icard
      a.videos__link(href="https://www.youtube.com/watch?v=" + item.link)
        .videos__cover(style= item.cover ? "background-image: url('https://img.youtube.com/vi/" + item.link + "/maxresdefault.jpg')" : "", loading="lazy")
      .icard__body
        .card__name= item.title
        .card__text= item.descr
      .videos__content
        iframe(width="560", height="315", src= "https://www.youtube.com/embed/" + item.link, title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
mixin articles-nav(items)
  .articles-nav
    .articles-nav__list
      each item, index in items
        if index < 2
          .articles-nav__item
            .articles-nav__cover
              a.articles-nav__image(href="", class= item.pic ? "" : "no-image")
                // Размер картинки 290х159
                if item.pic
                  img(src= item.pic)
              .articles-nav__date= item.date || "10.10.2021"
            a.articles-nav__name(href="")= item.name
mixin category-item-2(elm)
  .categories__item(class!=attributes.class)
    .categories__bg
      .cells
        .cell.cell-sm-4
          a.categories__image(href="category.html")
            img(src=elm.pic, loading="lazy")
        .cell.cell-sm-8
          .categories__body
            a.categories__link(href="category.html")
              .categories__title= elm.title
            if elm.subcats
              ul.categories__subcats.subcats__list
                each itm in elm.subcats
                  li.subcats__item
                    a.subcats__link(href="category.html")= itm
mixin category-item-1(elm)
  .categories__item(class!=attributes.class)
    .categories__bg
      a.categories__link(href="category.html")
        .categories__image
          img(src=elm.pic, loading="lazy")
        .categories__body
          .categories__title= elm.title
mixin product-item(itm)
  .products__item(class!=attributes.class)
    .products__bg
      .products__labels
        if itm.sale
          .products__label.products__label--sale Акция
      .products__images
        .products__images__list.slider
          if itm.pic
            each pic in itm.pic
              .products__images__item
                a.products__images__link(href="product.html")
                  // Размер картинки 518х385
                  img(src= pic, loading="lazy")
          else
            .products__images__item
                a.products__images__link.no-image(href="product.html")
      .products__body
        .products__cat= itm.cat
        a.products__title(href="product.html")= itm.title
        .products__action.cells
          .products__prices.cell.cell-auto
              .products__prices__old= itm.oprice
              .products__prices__new= itm.price || "По запросу"
          .products__button.cell.cell-auto
            button.button.button-primary
              span.button__body Заказать
              span.button__loader