mixin section-header(title, linkName, link)
  .section__header.cells
    .cell.section__name.cell-10.cell-md-8
      .section__title= title
    if linkName
      .cell.section__more.cell-2.cell-md-4
        a.section__link(href= link)
          span.section__link__title= linkName
          span.section__link__icon
            include ../../images/inline-svgs/section-header-link.svg
-
  var scls = [
    {
      name: "fb",
      title: "Группа в Facebook"
     },
    {
      name: "vk",
      title: "Группа во Вконтакте",
    },
    {
      name: "twitter",
      title: "Группа в Twitter"
    },
    {
      name: "ok",
      title: "Группа в Одноклассниках"
    },
    {
      name: "instagram",
      title: "Страница в Instagram"
    },
    {
      name: "youtube",
      title: "Канал на Youtube"
    }
  ];
mixin icon-fb
  include ../../images/inline-svgs/fb.svg
mixin icon-vk
  include ../../images/inline-svgs/vk.svg
mixin icon-twitter
  include ../../images/inline-svgs/tw.svg
mixin icon-ok
  include ../../images/inline-svgs/ok.svg
mixin icon-youtube
  include ../../images/inline-svgs/youtube.svg
mixin icon-instagram
  include ../../images/inline-svgs/ig.svg
mixin socials
  .socials
    .socials__list
      each item in scls
        .socials__item
          a.socials__link(href="", title= item.title)
            +#{"icon-" + item.name}
-
  var msngrs = [
    {
      name: "tg",
      title: "Написать в Telegram"
    },
    {
      name: "viber",
      title: "Написать в Viber"
    },
    {
      name: "whatsapp",
      title: "Написать в Whatsapp"
    }
  ];
mixin icon-tg
  include ../../images/inline-svgs/tg.svg
mixin icon-viber
  include ../../images/inline-svgs/viber.svg
mixin icon-whatsapp
  include ../../images/inline-svgs/whatsapp.svg
mixin messengers
  .messengers
    .messengers__list
      each item in msngrs
        .messengers__item
          a.messengers__link(href="", title= item.title, class="messengers__link--" + item.name)
            .messengers__icon
              +#{"icon-" + item.name}
            .messengers__text= item.title
-
  var cnncts = {
    phones: [
      {
        value: "+7 (351) 225-07-55",
        link: "+73512250755",
        label: "call-центр"
      },
      {
        value: "+7 (351) 225-07-56",
        label: "Отдел доставки",
        descr: "работаем 10:00 - 20:00",
        link: "+73512250756"
      },
      {
        value: "+7 (351) 778-88-00 доб. 123",
        label: "Бухгалтерия",
        link: "+73517788800"
      },
      {
        value: "+7 (351) 778-88-10",
        label: "Директор Длиннофамильцев Имярек Отчествович",
        link: "+73512250756"
      }
    ],
    emails: [
      {
        value: "info@zetrade.com"
      },
      {
        value: "dlinnofamiltsev@zetrade.com"
      }
    ],
    addresses: [
      {
        value: "г.Челябинск, ул. Артиллерийская, д. 1",
        descr: "Пн - Пт: 9.00 - 18.00 Сб - Вс: выходные"
      },
      {
        value: "Российская Федерация, Челябинская область, г. Челябинск, ул. Артиллерийская, стр. 1, корпус 14, офис 202а",
        descr: "Пн - Пт: 9.00 - 18.00 Сб - Вс: выходные"
      },
      {
        value: "г. Екатеринбург, ул. Новоградская, 3, офис 123",
        descr: "Какая-то подпись, если надо"
      },
      {
        value: "г. Екатеринбург, ул. 1-ая Электровозная, 3, офис 123"
      }
    ]
  };
mixin connectList(type, noFirst, limit=100)
  - var noShowItem = noFirst ? 0 : 100;
  .connect(class=type, class!=attributes.class)
    .connect__list
      each item, index in cnncts[type]
        if index != noShowItem && index < limit
          .connect__item
            case type
              when "phones"
                a.connect__text(href= "tel:" + item.link)= item.value
              when "emails"
                a.connect__text(href="mailto:" + item.value)= item.value
              default
                .connect__text= item.value
            if cnncts[type].length > 1
              if item.label
                .connect__label= item.label
              if item.descr
                .connect__descr= item.descr
//- - var logoImage = require("/src/images/theme-images/logo-sq.png");
- var logoImage = require("/src/images/content-images/parts-1.png");
mixin logo
  .logo
    a.logo__link(href="index.html")
      .logo__image
        include ../../images/theme-images/logo.svg
    //-     img(src= logoImage)
    //-   .logo__text ZE Строй
    .logo__slogan Selling the best goods on Earth since 1900
mixin connectsDropdown(type)
  if cnncts[type].length > 1
    .dropdown
      case type
        when "phones"
          a.dropdown__toggle(href=cnncts[type][0].link)= cnncts[type][0].value
            .dropdown__icon
              include ../../images/inline-svgs/dropdown.svg
        when "addresses"
          button.dropdown__toggle= cnncts[type][0].value
            .dropdown__icon
              include ../../images/inline-svgs/dropdown.svg
      .dropdown__body
        case type
          when "phones"
            +connectList(type)
            button.button.button-primary.button-callback(data-fancybox, data-type="inline", data-src="#callback-form", data-touch="false") Заказать звонок
          when "addresses"
            +connectList(type, true)
  else
    +connectList(type)
mixin section-navi(title, items, currentIndex)
  .snavigation
    button.snavigation__toggle= title
      .snavigation__icon
        include ../../images/inline-svgs/dropdown.svg
    .snavigation__body
      ul.snavigation__list
        each item, index in items
          li.snavigation__item
            a.snavigation__link(href=item.link, class={"snavigation__link--current": index == currentIndex})= item.value
mixin page-header(title, crumbs, variant="page-header--v1")
  .page-header(class= variant)
    .page-header__bg
      .wrap
        ol.breadcrumbs
          li.breadcrumbs__item
              a.breadcrumbs__link(href="index.html") Главная
          if crumbs.length
            each item in crumbs
              li.breadcrumbs__item
                a.breadcrumbs__link(href=item.link)= item.value
          li.breadcrumbs__item
              a.breadcrumbs__link.breadcrumbs__link--current(href="/")=title
        h1= title
-
  var rvws = [
    {
      title: "Ольга",
      text: "Мы с мужем обращались в компанию «ZE Строй», чтобы заказать строительство загородного дома. Предложили специалистам готовый проект, купленный в Интернете. Как выяснилось, в нем было много ошибок, но инженеры его доработали. В итоге готовый дом, возведенный профессионалами, оказался идеальным во всех отношениях.",
      ava: require("/src/images/content-images/reviews-1.jpg"),
      pics: [
        {
          xs: require("/src/images/content-images/reviews-folio-1-xs.jpg"),
          lg: require("/src/images/content-images/folio-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-2-xs.jpg"),
          lg: require("/src/images/content-images/folio-2.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-3-xs.jpg"),
          lg: require("/src/images/content-images/prods-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-4-xs.jpg"),
          lg: require("/src/images/content-images/folio-3.jpg")
        }
      ],
      date: "12.12.2020",
      cat: "Дом из клееного бруса"
    },
    {
      title: "Анатолий Антатолий",
      text: 'Свой дом на 240 кв.м. в стиле "Шале" мне посчастливилось строить с командой «ZE Строй». Основной стеновой материал - керамические блоки. Из особенностей - полноценный цокольный этаж на участке с уклоном. В процессе работы особенно понравилось: грамотно подобранная профессиональная бригада; глубокое знание всех технологий проекта со стороны руководителя; отсутствие задержек строительного процесса; развернутые ответы на любые мои вопросы.Уверенно могу рекомендовать компанию для строительства больших и технически сложных домов - ребята не оставляют никаких "белых пятен" в отношении к своей работе и не заставляют беспокоиться о результате.',
      ava: require("/src/images/content-images/reviews-2.jpg"),
      pics: [
        {
          xs: require("/src/images/content-images/reviews-folio-5-xs.jpg"),
          lg: require("/src/images/content-images/folio-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-6-xs.jpg"),
          lg: require("/src/images/content-images/folio-2.jpg")
        },
      ],
      date: "15.04.2019"
    },
    {
      title: "Анатолий Петрович",
      ava: require("/src/images/content-images/reviews-3.jpg"),
      text: "Арматура как арматура. Не ржавая и ровная, советую надевать перчатки перед погрузкой",
      cat: "Дом из клееного бруса Дом из клееного бруса Дом из клееного бруса Дом из клееного бруса"
    },
    {
      title: "Тамара Шевченко",
      text: 'Была у нас большая мечта построить уютный теплый и красивый дом. С помощью МЕЧТЫ она превратилась в реальность. Живем на 130 кв. метрах в коттедже из газоблоков. Получилось в точности по проекту, который согласовали, без задержек и накладок',
      date: "15 апр. 2019",
      pics: [
        {
          xs: require("/src/images/content-images/reviews-folio-7-xs.jpg"),
          lg: require("/src/images/content-images/folio-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-8-xs.jpg"),
          lg: require("/src/images/content-images/folio-2.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-9-xs.jpg"),
          lg: require("/src/images/content-images/prods-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-10-xs.jpg"),
          lg: require("/src/images/content-images/folio-3.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-11-xs.jpg"),
          lg: require("/src/images/content-images/folio-4.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-12-xs.jpg"),
          lg: require("/src/images/content-images/folio-2.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-13-xs.jpg"),
          lg: require("/src/images/content-images/prods-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-10-xs.jpg"),
          lg: require("/src/images/content-images/folio-3.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-9-xs.jpg"),
          lg: require("/src/images/content-images/prods-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-10-xs.jpg"),
          lg: require("/src/images/content-images/folio-3.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-11-xs.jpg"),
          lg: require("/src/images/content-images/folio-1.jpg")
        },
        {
          xs: require("/src/images/content-images/reviews-folio-12-xs.jpg"),
          lg: require("/src/images/content-images/folio-2.jpg")
        }
      ]
    },
    {
      title: "Олеся, 34 года",
      ava: require("/src/images/content-images/reviews-4.jpg"),
      text: 'Мы с мужем обращались в компанию «ZE Строй», чтобы заказать строительство загородного дома. Предложили специалистам готовый проект, купленный в Интернете. Как выяснилось, в нем было много ошибок, но инженеры его доработали. В итоге готовый дом, возведенный профессионалами, оказался идеальным во всех отношениях.',
      date: "10.10.2021"
    },
    {
      text: 'Мы с мужем обращались в компанию «ZE Строй», чтобы заказать строительство загородного дома. Предложили специалистам готовый проект, купленный в Интернете.'
    }
  ];
mixin reviewsList(limit)
  .reviews__list(class!=attributes.class)
    each elm, index in rvws
      if index < limit
        .reviews__item
          .reviews__bg
            .reviews__meta
              if elm.cat
                .reviews__cat
                  .reviews__cat__text= elm.cat
              .reviews__pic(class={"reviews__pic--empty": !elm.ava})
                if elm.ava
                  img(src= elm.ava)
                .reviews__pic__decor
                  include ./../../images/inline-svgs/reviews-decor.svg
              .reviews__personal
                .reviews__date= elm.date
                .reviews__name= elm.title
            .reviews__text= elm.text
            if elm.pics
              .reviews__images
                each item in elm.pics
                  a.reviews__image(href=item.lg, data-fancybox="review-" + index)
                    img(src= item.xs)
                    .reviews__image__overflow
- var pgntn = [1, 2, 3, 4, "...", 10];
mixin pagination(current)
  .pagination
    ol.pagination__list
      li.pagination__item(class={"pagination__item--disabled": current == 1})
        a.pagination__link(href="", title="Предыдущая страница")
      each item, index in pgntn
        li.pagination__item
          if index != 4
            a.pagination__link(href="")= item
          else
            span.pagination__gap= item
      li.pagination__item(class={"pagination__item--disabled": current == pgntn.length})
        a.pagination__link(href="", title="Следующая страница")