-
  var rvws = [
    {
      title: "Ольга",
      text: "Он в реальности намного круче, чем на картинке. Очень мягкая приятная ткань, легко чистится (а у меня кошка), легко раскладывается. Мы взяли независимый пружинный блок, так как будем спать на нем постоянно. Не мягкий, но комфортный. Очень мягкая приятная ткань, легко чистится (а у меня кошка), легко раскладывается.",
      pics: [
        require("/src/images/content-images/revs-1.jpg"),
        require("/src/images/content-images/cats-2.png"),
        require("/src/images/content-images/services-3.jpg")
      ],
      date: "12 дек."
    },
    {
      title: "Наталья",
      text: "Просто огромное спасибо! Теперь этот диван - сердце нашей гостиной! Очарователен, крайне удобен. Механизм надежный. Отдельная благодарность, что не подвели со сроками.",
      pics: [
        require("/src/images/content-images/revs-4.jpg")
      ],
      date: "15 апр. 2019"
    },
    {
      title: "Анатолий Петрович",
      text: "Хотела оставить исключительно положительный отзыв о работе магазина, от заказа товара до его доставки. Осталось приятное впечатление от профессионализма менеджера магазина Ольги при выборе дивана, с которой обсуждены были все нюансы. Товар был заказан 12 ноября, причем без каких-либо предоплат и доставлен 03 декабря, точно в срок, который был изначально согласован. Оплачены были отдельно доставка, подъем. Осталось приятное впечатление от профессионализма менеджера магазина.",
      date: "28 февраля 2021"
    }
  ];
.section.b-reviews
  .wrap
    .section__header.cells
      .cell.cell-auto
        .section__title Отзывы
      .cell.cell-auto
        a.section__link(href="reviews.html") Все отзывы
          span.section__link__icon
            include ../../images/inline-svgs/right.svg
    .cells.b-reviews__list
      each elm, index in rvws
        .cell.cell-4
          .b-reviews__item
            if elm.pics
              .b-reviews__images
                each pic in elm.pics
                  a.b-reviews__image(data-fancybox="b-review-" + index href=pic)
                    img(src=pic)
            .b-reviews__text(class={"b-reviews__text--solo": !elm.pics})= elm.text
            .display-flex
              .b-reviews__name= elm.title
              .b-reviews__date= elm.date
